[b2]
type = b2
account = abcdefg
key = abcdefg
endpoint = 

[archive]
type = crypt
remote = b2:archive-bucket-name
filename_encryption = off/on
password = abcdefg
password2 = abcdefg

[multimedia]
type = crypt
remote = b2:multimedia-bucket-name
filename_encryption = off/on
password = abcdefg
password2 = abcdefg

