[DEVELOPMENT]
	mail-subject = 
	mail-to = 
	mail-from = 
	smtp-hostname = 
	smtp-port-num = 
	smtp-username = 
	smtp-pasword = 

[PRODUCTION]
	mail-subject = 
	mail-to = 
	mail-from = 
	smtp-hostname = 
	smtp-port-num = 
	smtp-username = 
	smtp-pasword = 
